{% assign canonical_url = page.url | replace:'index.html','' | absolute_url %}
{% assign page_description = page.excerpt | default: page.description | default: site.description | strip_html | strip_newlines | truncate: 220 %}
{% assign page_image = '' %}
{% unless page.og_image == false %}
  {% assign page_image = page.og_image | default: page.image %}
{% endunless %}
{% if page_image and page_image != '' %}
  {% assign page_image = page_image | absolute_url %}
{% endif %}

{% if page.layout == 'post' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "description": {{ page_description | jsonify }},
  "url": {{ canonical_url | jsonify }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ canonical_url | jsonify }}
  },
  {% if page_image and page_image != '' %}"image": [{{ page_image | jsonify }}],{% endif %}
  "datePublished": {{ page.date | date_to_xmlschema | jsonify }},
  "dateModified": {{ page.last_modified_at | default: page.date | date_to_xmlschema | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ site.author | jsonify }},
    "url": {{ site.url | jsonify }}
  },
  "publisher": {
    "@type": "Person",
    "name": {{ site.author | jsonify }},
    "url": {{ site.url | jsonify }}
  },
  "keywords": {{ page.tags | join: ", " | jsonify }}
}
</script>
{% if page.faq %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {% for item in page.faq %}
    {
      "@type": "Question",
      "name": {{ item.question | jsonify }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ item.answer | jsonify }}
      }
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
{% endif %}
{% elsif page.layout == 'topic' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": {{ page.title | jsonify }},
  "description": {{ page.description | default: page.excerpt | default: site.description | jsonify }},
  "url": {{ canonical_url | jsonify }},
  "isPartOf": {
    "@type": "WebSite",
    "name": {{ site.title | jsonify }},
    "url": {{ site.url | jsonify }}
  },
  "author": {
    "@type": "Person",
    "name": {{ site.author | jsonify }},
    "url": {{ site.url | jsonify }}
  }
}
</script>
{% elsif page.url == '/' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.title | jsonify }},
  "description": {{ site.description | jsonify }},
  "url": {{ site.url | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ site.author | jsonify }},
    "url": {{ site.url | jsonify }}
  },
  "sameAs": [
    {{ site.twitter | jsonify }},
    {{ site.github | jsonify }},
    {{ site.linkedin | jsonify }},
    {{ site.youtube | jsonify }}
  ]
}
</script>
{% endif %}
