/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  padding-left: $blockquote-padding;
  margin-left: $base-margin-unit;
  border-left: 4px solid var(--theme-border-strong);

  &, & * {
    color: var(--theme-muted);
    // font-style: italic;
  }
}
